body {
  font-family: Newsreader;
  background-image: url("./copyright.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  width: 25%;
  height: 10%;
  top: 2rem;
  margin-left: 2%;
  z-index: -99;
}

ul {
  margin: 10rem auto;
}

li {
  margin-top: 3rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: black;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .logo {
    width: 60%;
  }
  ul {
    margin-left: 0.1rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320) and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .logo {
    width: 70%;
  }
  ul {
    margin-left: 0.1rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .logo {
    width: 60%;
  }
  ul {
    margin-left: 0.1rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .logo {
    width: 70%;
  }
  ul {
    margin-left: 0.1rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 812px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/*Tablet */

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .logo {
    width: 60%;
  }
  ul {
    margin-top: 25rem;
    margin-left: 0.1rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 10.5" ----------- */

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .logo {
    width: 60%;
  }
  ul {
    margin-left: 0.1rem;
  }
}
